._theme-light {
	--color-primary: #14b8a6;
	--color-white: #ffffff;
	--color-background-001: #ffffff;
	--color-background-002: #ffffffcc;
	--color-text-001: #131313;
	--color-stroke-001: rgba(0, 0, 0, 0.06);
}

._theme-dark {
	--color-primary: #14b8a6;
	--color-white: #ffffff;
	--color-background-001: rgba(255, 255, 255, 1);
	--color-background-002: #ffffffcc;
	--color-text-001: #ffffff;
	--color-stroke-001: rgba(0, 0, 0, 0.06);
}
